* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header {
    padding: 60px;
    text-align: center;
    background: #2ce080;
    color: #03314b;
    ;
    font-size: 30px;
}

p,
a {
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 214px;
    object-fit: cover;
}

.container {
    padding: 48px;
    place-content: center;
    display: grid;
}

.card {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    max-width: 800px;
    border-radius: 12px;
}

.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
}

.card__details {
    padding: 16px 8px 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}
